/* ---------------------------- links stylesheet ---------------------------- */

/* -------------- colors -------------- */

:root {
	/* ----- purples ----- */
	--dark: #2301a9;
	--mediumdark: #3810d1;
	--medium: #9985e8;
	--mediumlight: #b6a8ef;
	--light: #d6cef6;
	/* ----- grayscale ----- */
	--black: #171717;
	--white: #ffffff;
}

/* -------------- page -------------- */
html {
	background-image: url(/assets/images/backgrounds/grid.png);
	animation: background 12s infinite linear; /* sometimes i comment this bc the moving background kills my laptop live preview. if ur snoopin in the code and see this off, remind me 2 turn it back on lol */
}
body {
	width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/* -------------- grid -------------- */

/* -- container -- */
.grid-cont {
	display: grid;
	grid-template-areas:
		"intro intro buttons buttons"
		"webrings webrings sites sites"
		"codelinks codelinks graphics graphics"
		"codehelp codehelp graphics graphics"
		"games games artlinks consoles"
		"games games misc consoles";
	padding: 10px;
}

/* -- all sections -- */
.grid-sec {
	background-color: var(--black);
	border: 2px var(--white) solid;
	box-shadow: 10px 10px 25px var(--black);
	padding: 25px;
	margin: 5px;
}

/* -- indvidual sections -- */
#g1 {
	grid-area: intro;
}
#g2 {
	grid-area: buttons;
}
#g3 {
	grid-area: webrings;
	height: 700px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#g4 {
	grid-area: codelinks;
}
#g5 {
	grid-area: codehelp;
}
#g6 {
	grid-area: graphics;
}
#g7 {
	grid-area: consoles;
}
#g8 {
	grid-area: artlinks;
}
#g9 {
	grid-area: games;
}
#g10 {
	grid-area: misc;
}
#g11 {
	grid-area: sites;
}

/* -------------- animation -------------- */
@keyframes background {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 307px 133px;
	}
}

#wiiring {
	width: 200px;
}
